/* ==========================================
   SCP FOUNDATION - CLASSIFIED DOCUMENT STYLE
   Black / Red Terminal Theme
========================================== */


/* Main SCP File */

.scp-document {

    width: 90%;
    max-width: 1100px;

    margin: 50px auto;

    background:
    linear-gradient(
        145deg,
        #111,
        #050505
    );

    border: 2px solid #8b0000;

    padding: 45px;

    box-shadow:
    0 0 25px rgba(139,0,0,0.25);

}


/* Top Document Header */

.document-header {

    border-bottom: 2px solid #8b0000;

    padding-bottom: 25px;

    margin-bottom: 35px;

}


.document-header h1 {

    color:#ff2222;

    font-size:45px;

    letter-spacing:4px;

    margin-bottom:10px;

}


.document-header p {

    color:#aaa;

    font-size:20px;

}



/* Classified Warning */

.classified-warning {

    background:#1a0000;

    border:1px solid #ff2222;

    color:#ff4444;

    padding:18px;

    text-align:center;

    font-weight:bold;

    letter-spacing:2px;

    margin:30px 0;

}



/* Information Panel */

.document-info {

    display:grid;

    grid-template-columns:repeat(3, 1fr);

    gap:15px;

    margin-bottom:40px;

}



.info-box {

    background:#090909;

    border:1px solid #444;

    padding:20px;

}


.info-box h3 {

    color:#888;

    font-size:14px;

    letter-spacing:2px;

}



.info-box p {

    color:#ff3333;

    font-size:22px;

}



/* SCP Sections */


.scp-section {

    margin-top:45px;

    padding-bottom:20px;

}



.scp-section h2 {

    color:#ff3333;

    font-size:28px;

    border-left:5px solid #8b0000;

    padding-left:15px;

    margin-bottom:20px;

}



.scp-section p {

    color:#ddd;

    font-size:18px;

    line-height:1.9;

}



/* Lists */

.scp-section li {

    color:#ccc;

    margin:12px 0;

    font-size:17px;

}



/* Interview Logs */


.log {

    background:#050505;

    border:1px solid #444;

    border-left:5px solid #b30000;

    padding:25px;

    margin:25px 0;

}



.log strong {

    color:#ff3333;

}



/* Redacted Text */


.redacted {

    background:#000;

    color:#000;

    padding:2px 10px;

    border:1px solid #333;

}


.redacted:hover {

    color:white;

}



/* Footer */


.document-footer {

    margin-top:50px;

    border-top:1px solid #333;

    padding-top:20px;

    text-align:center;

    color:#666;

}



/* Mobile */

@media(max-width:800px){

    .scp-document{

        padding:25px;

    }


    .document-info{

        grid-template-columns:1fr;

    }

}

.redacted:hover {

    color:white;

}




/* DOCUMENT FOOTER */


.document-footer {

    margin-top:60px;

    border-top:1px solid #444;

    padding-top:20px;

    color:#777;

    text-align:center;

}




/* MOBILE SUPPORT */


@media(max-width:800px){


.document-info {

    grid-template-columns:1fr;

}


.scp-document {

    padding:25px;

}


}