body {
    background: #0b0b0b;
    color: #d8d8d8;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    border-bottom: 2px solid #555;
    padding: 30px;
}

header h1 {
    color: #b30000;
    font-size: 45px;
}


.database {
    width: 80%;
    margin: 40px auto;
}


.scp-card {
    background: #151515;
    border: 1px solid #555;
    padding: 20px;
    margin: 20px 0;
}


.scp-card h3 {
    color: #ff3333;
}


a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #8b0000;
    color: white;
    text-decoration: none;
}


a:hover {
    background: #ff0000;
}


footer {
    text-align:center;
    margin-top:50px;
    color:#777;
}