/* =========================================
   SCP FOUNDATION DATABASE
   MAIN WEBSITE STYLE
   BLACK / RED TERMINAL THEME
========================================= */


/* GLOBAL */

* {
    box-sizing: border-box;
}


body {

    margin:0;

    background:#050505;

    color:#d6d6d6;

    font-family:"Share Tech Mono", monospace;

}



/* CRT SCANLINE EFFECT */

body::before {

    content:"";

    position:fixed;

    inset:0;

    background:

    repeating-linear-gradient(

        0deg,

        rgba(255,255,255,0.03),

        rgba(255,255,255,0.03) 1px,

        transparent 1px,

        transparent 4px

    );

    pointer-events:none;

    z-index:100;

}





/* HEADER */


header {

    background:#090909;

    border-bottom:3px solid #8b0000;

    padding:40px 20px;

    text-align:center;

}



header h1 {

    color:#b30000;

    font-size:55px;

    letter-spacing:6px;

    margin:0;

}



header p {

    color:#888;

    font-size:18px;

}





/* MAIN DATABASE AREA */


.database {

    width:90%;

    max-width:1100px;

    margin:50px auto;

}





/* TERMINAL BOX */


.terminal {

    background:#0d0d0d;

    border:1px solid #444;

    padding:40px;

    box-shadow:

    0 0 30px black;

}





/* TITLES */


h2 {

    color:#ff3333;

    border-bottom:1px solid #8b0000;

    padding-bottom:12px;

}





/* SCP CARDS */


.scp-card {

    background:#080808;

    border:1px solid #444;

    padding:25px;

    margin:25px 0;

    transition:.3s;

}



.scp-card:hover {

    border-color:#ff0000;

    transform:scale(1.02);

}



.scp-card h3 {

    color:#ff2222;

    font-size:30px;

}





/* BUTTONS */


a {

    display:inline-block;

    margin-top:15px;

    padding:12px 25px;

    border:1px solid #b30000;

    color:white;

    text-decoration:none;

    transition:.3s;

}



a:hover {

    background:#b30000;

}





/* STATUS COLORS */


.status {

    color:#00ff66;

}



.warning {

    color:#ff2222;

}





/* FOOTER */


footer {

    border-top:1px solid #333;

    padding:30px;

    text-align:center;

    color:#666;

}



/* MOBILE */


@media(max-width:800px){


header h1 {

    font-size:35px;

}


.database {

    width:95%;

}

}